<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :Age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :手機不公開 %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :地址不公開 %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :居住地區 %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :現職 %><br>
    <%= f.text_field :career %>
  </div>
  <div class="field">
    <%= f.label :求學經歷 %><br>
    <%= f.text_field :study %>
  </div>
  <div class="field">
    <%= f.label :工作經歷 %><br>
    <%= f.text_field :careered %>
  </div>
  <div class="field">
    <%= f.label :興趣 %><br>
    <%= f.text_field :hobby %>
  </div>
  <div class="field">
    <%= f.label :天賦 %><br>
    <%= f.text_field :gifted %>
  </div>
  <div class="field">
    <%= f.label :照片上傳 %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :我想說的是 %><br>
    <%= f.text_field :other %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
