<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if params[:id] == "1" %>
    <% @users.each do |user| %>
    <% if user.career_id == "軟體工程師" %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td> 
      </tr>
    <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
