<h1>Mentor註冊</h1>

<div class="column">
 <%= form_for @user do |f| %>
  <%= f.label :姓名 %>
  <%= f.text_field :name %><br>

  <%= f.label :綽號 %>
  <%= f.text_field :nickname %><br>

  <%= f.label :email不公開 %>
  <%= f.text_field :email %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br>  

  <%= f.label :Age %>
  <%= f.text_field :age %><br>

  <%= f.label :手機不公開 %>
  <%= f.text_field :phone %><br>

  <%= f.label :地址不公開 %>
  <%= f.text_field :address %><br>

  <%= f.label :居住地區 %>
  <%= f.text_field :region %><br>

  <%= f.label :現職 %>
  <%= f.text_field :career %><br>

  <%= f.label :求學經歷 %>
  <%= f.text_field :study %><br>

  <%= f.label :工作經歷 %>
  <%= f.text_field :careered %><br>

  <%= f.label :興趣 %>
  <%= f.text_field :hobby %><br>

  <%= f.label :天賦 %>
  <%= f.text_field :gifted %><br>

  <%= f.label :我想說的是 %>
  <%= f.text_field :other %><br>
  
  <%= f.label :職業別 %>
  <%= f.select(:career_id,[['軟體工程師', "軟體工程師"], ['韌體工程師', "韌體工程師"], ['電機工程師', "電機工程師"], ['機械工程師', "機械工程師"], ['化工工程師', "化工工程師"], ['數學研究人員', "數學研究人員"], ['醫師', "醫師"], ['護理師', "護理師"], ['生物科技研發人員', "生物科技研發人員"], ['實驗室人員', "實驗室人員"], ['漁夫', "漁夫"], ['農夫', "農夫"], ['環境工程師', "環境工程師"], ['地球科學研究人員', "地球科學研究人員"], ['建築師', "建築師"], ['室內設計師', "室內設計師"], ['美術設計', "美術設計"], ['廣告設計', "廣告設計"], ['新聞記者', "新聞記者"], ['導演', "導演"], ['翻譯員', "翻譯員"], ['歷史研究人員', "歷史研究人員"], ['國外業務', "國外業務"], ['旅行社', "旅行社"], ['教授', "教授"], ['幼教老師', "幼教老師"], ['社工師', "社工師"], ['臨床心理師', "臨床心理師"], ['律師', "律師"], ['法務人員', "法務人員"], ['行政主管', "行政主管"], ['總務主管', "總務主管"], ['會計師', "會計師"], ['財務主管', "財務主管"]]) %><br>
  
  <%= f.label :照片上傳 %>
  <%= f.file_field :avatar %>
    
  <div>
   <%= f.submit "成為Mentor!", class: "btn btn-primary" %>
  </div>
 <%= link_to '首頁', root_path %>
 <% end %>
</div>
