<header class="navbar navbar-fixed-top navbar-inverse">
 <div class="navbar-inner">
  <div class="container">
   <%= link_to "FirstApp", root_path, id:"logo" %>

   <% if user_signed_in? %><h3><font color="white">
    你好,<%= current_user.name %></font>
    <%= link_to "profile", current_user %>
    <%= link_to "登出", signout_path %>
    
    </h3>
   <% else %>
     <%= form_tag session_path do %><h3>
     <%= link_to "登入", signin_path %>
     <%= link_to "註冊", registagree_path %>
     <%= link_to "入門指南 / Tips", tips_path %>
     </h3>
    <% end %>
   <% end %>
  </div>
 </div>
</header>
